* {
    margin: 0;
    padding: 0;
}

.container .skills .header {
    background-color: rgba(255, 0, 0, 0.641);
    height: 50px;
    width: 100%;
    border-radius: 4px 4px 0 0 ;
}

.container .skills {
    margin: 10px;
    border-radius: 4px 4px 0 0 ;
    box-shadow: 0 0 2px 2px #ededed;
    width: 40%;
}

.container .skills .header h2 {
    color: white;
    margin-left: 15px;
    padding-top: 10px;
}

.container .skills .main .content .p {
    margin-top: 10px;
    display: inline-block;
    width: calc(30% - 20px);
    font-size: 22px;
    vertical-align: top; 
    color: #5f5a5a7f;
    margin-left: 20px;
    line-height: 40px;
}

.container .skills .main .content .bars {
    display: inline-block;
    margin-top: 10px;
    width:calc(70% - 20px);

}

.container .skills .main .content .progress-bar  {
   margin-top: 6px;
   display: inline-block;
   height: 18px;
   width: 90%;
   margin-bottom: 20px;
   margin-left: 40px;
   border-radius: 8px;
   background: #5f5a5a5d;
}

.container .skills .main .content .progress-bar .progress-1 {
    display: inline-block;
    width: 60%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
    
}

.container .skills .main .content .progress-bar .progress-2 {
    display: inline-block;
    width: 65%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
}

.container .skills .main .content .progress-bar .progress-3 {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
}

.container .skills .main .content .progress-bar .progress-4 {
    display: inline-block;
    width: 90%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
}

.container .skills .main .content .progress-bar .progress-5 {
    display: inline-block;
    width: 75%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
}

.container .skills .main .content .progress-bar .progress-6 {
    display: inline-block;
    width: 35%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.641);
}

.container .skills .main .content .progress-bar span {
   display: inline-block;
   vertical-align: top;
   color:  #5f5a5acf;
}