* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left bottom;
   
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav__title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

.nav__decription {
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.nav__price-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 70px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.price-list__item {
    padding: 80px;
}

.price-list__item:nth-child(2) {
    border-left: 2px solid #E4E4E4;
    border-right: 2px solid #E4E4E4;
}

.item__title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #757575;
    text-transform: uppercase;  
}

.price-list__item:hover .item__title {
    background: #8D76BE;
    border-radius: 3px;
    color: #FFFFFF;
}

.item__price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 89px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #212121;
}

.price-list__item:hover .item__price {
    color: #F05638;
}


.item__price::before {
    content: '$';
    font-size: 25px;
    position: relative;
    margin-top: -0.8em;
    color: #818181;
}

.item__description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #212121;
}

.item__flash {
    display: flex;
    justify-content: center;
    font-family: 'Arvo';
    font-size: 14px;
    margin-top: 15px;
}

.item__btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.item__btn button {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #9FA3A7;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #525252;
    text-transform: uppercase;
    background: transparent;
}

.price-list__item:hover .item__btn button {
    background: #FFC80A;
    color: #FFFFFF;
    border: none;
}